<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список игроков</title>
    <style>
        .container {
            max-width: 800px;
            margin: 0 auto;
        }
        table {
            width: 100%;
            border-collapse: collapse;
        }
        th, td {
            border: 1px solid #ccc;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar(${name})}"></div>
<div class="container">
    <h1>Список игроков</h1>
    <table>
        <thead>
        <tr>
            <th>Имя</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="player : ${players}">
            <td>
                <a th:href="@{/profile/{id}(id=${player.id})}" th:text="${player.name}">Имя</a>
            </td>

        </tr>
        </tbody>
    </table>
</div>
</body>
</html>