<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список игроков</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" rel="stylesheet">
    <link th:href="@{/css/navbar-styles.css}" rel="stylesheet">
    <link th:href="@{/css/players-styles.css}" rel="stylesheet">
</head>
<body>
<div th:replace="~{fragments/navbar :: navbar}"></div>


<div class="container">
    <h1>Список игроков</h1>

    <div th:if="${error}" class="error-box" th:text="${error}"></div>

    <div class="space-y-4">
        <div th:each="player : ${players}" class="player-card">
            <a th:href="@{/profile/{id}(id=${player.id})}" class="player-link">
                <i class="fas fa-user mr-1"></i> <span th:text="${player.name}">Имя</span>
            </a>
        </div>
    </div>
</div>

</body>
</html>
