<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Регистрация</title>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <style>
        .container {
            max-width: 500px;
            margin: 0 auto;
        }
        label, input {
            display: block;
            width: 100%;
            margin-top: 10px;
        }
        .error { color: red; }
    </style>
</head>
<body>
<div th:replace="fragments/navbar :: navbar(${name})"></div>
<div class="container">
    <h1>Регистрация</h1>
        <form th:action="@{/register}" th:object="${player}" method="post">
            <label>Имя:
                <input type="text" th:field="*{name}" />
            </label>
            <div class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></div>

            <label>Email:
                <input type="email" th:field="*{email}" />
            </label>
            <div class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></div>

            <label>Пароль:
                <input type="password" th:field="*{password}" />
            </label>
            <div class="error" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>

            <label>Дата рождения:
                <input type="date" th:field="*{birthday}" style="margin-bottom: 20px;" />
            </label>
            <div class="error" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></div>

            <label>Telegram:
                <input type="text" th:field="*{tgLink}" placeholder="https://t.me/username" />
            </label>

            <button type="submit">Зарегистрироваться</button>
        </form>
        <p>Уже есть аккаунт? <a th:href="@{/login}">Войдите здесь</a></p>
</div>
</body>
</html>